@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Poppins", sans-serif;
}
body {
  color: #575858;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.socials:hover {
  opacity: 0.7;
  filter: brightness(0) drop-shadow(10px 5px 5px rgba(22, 22, 22, 0.25));
}

.socialsBorder {
  border-bottom: 2px solid rgba(109, 111, 110, 0.1);
}
.tranIMG {
  filter: drop-shadow(5px 5px 30px #d9dddc);
}

.heroShadow {
  box-shadow: 0px 0px 30px #2b2c2c25;
}

.headroom {
  z-index: 9999 !important;
}

.headroom--pinned {
  background-color: rgba(244, 244, 244, 0.7);
}

section {
  padding-top: 96px;
  padding-bottom: 32px;
  padding-left: 32px;
  padding-right: 32px;
}
